.main {;
    position: absolute;
    font-family: 'Roboto Mono';
    width: 100%;
}
.bordered td,
.bordered th {
    position: fixed;
    height: 100vh;
    border-left: 1px solid #ccc;
    text-align: left;
    padding: 50px;
}
.header-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}
header {
    height: 60px;
    width: 100%;
}
.nav {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: #203239;
}
#logo {
    width: 60px;
    height: 60px;
    background-color: #1956ef;
}
.page {
    position: relative;
    height: 100vh;
    margin: auto;
    min-height: 400px;
    width: 960px;
}
.home-page {
    margin-bottom: 5%;
    font-family: 'Roboto Mono';
}
.home-header {
    font-size: 75px;
    font-weight: bold;
}
#hr-home {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.home-text {
    color: #1956ef;
    font-size: 15px;
}
.home-end {
    font-size: 10px;
}
.project-page {
    font-family: 'Roboto Mono';
    margin-bottom: 5%;
}
.project-header {
    margin-top: 10%;
    font-size: 75px;
    font-weight: bold;
}
#hr-project {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.project-text {
    color: #1956ef;
    font-size: 30px;
}
.project-end {
    color: #1956ef;
    font-size: 15px;
}
.about-page {
    font-family: 'Roboto Mono';
}
.about-header {
    margin-top: 10%;
    font-size: 75px;
    font-weight: bold;
}
#hr-about {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.about-text {
    color: #203239;
    font-size: 15px;
}
.about-end {
    color: #203239;
    font-size: 15px;
}
.contact-form {
    font-family: 'Roboto Mono';
}
.contact-header {
    margin-top: 10%;
    font-family: 'Roboto Mono';
    font-size: 75px;
    font-weight: bold;
}
#hr-contact {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.nav .d-flex .flex-column .justify-content-between .contact-icon:hover {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;
}