.body {
    background-color: #f80e0b;
    opacity: 0.4;
}
.main {
    position: relative;
    font-family: 'Roboto Mono';
    margin: auto;
    width: 100%;
}
.line {
    border-left: 2px solid grey; /* Параметры линии */ 
 /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}
.line1 {
    border-right: 2px solid grey; /* Параметры линии */ 
    padding-right: 10px; /* Отступ слева */
}
.rectangle1 {
    position: relative;
    width: 150px;
	height: 30px;
    background: #fdc805;
    opacity: 0.4;
    border-radius: 50px;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
}
#axis:hover .move-right{
    transform: translate(350px,0);
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
}
.header-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}
header {
    height: 60px;
    width: 100%;
}
.nav {
    position: fixed;
    z-index: 5;
    width: 60px;
    height: 100%;
    background-color: #203239;
}
#logo {
    width: 60px;
    height: 60px;
    background-color: #1956ef;
}
.page {
    position: relative;
    height: 100vh;
    margin: auto;
    min-height: 400px;
    width: 960px;
}
.home-page {
    margin-bottom: 5%;
    font-family: 'Roboto Mono';
    background-color: lemonchiffon;
}
.home-header {
    font-size: 75px;
    font-weight: bold;
}
#hr-home {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.home-text {
    color: #1956ef;
    font-size: 15px;
}
.home-end {
    font-size: 10px;
}
.project-page {
    font-family: 'Roboto Mono';
    margin-bottom: 5%;
}
.project-header {
    margin-top: 10%;
    font-size: 75px;
    font-weight: bold;
}
#hr-project {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.project-text {
    color: #1956ef;
    font-size: 30px;
}
.project-end {
    color: #1956ef;
    font-size: 15px;
}
.about-page {
    background-color: lightsalmon;
    font-family: 'Roboto Mono';
}
.about-header {
    margin-top: 10%;
    font-size: 75px;
    font-weight: bold;
}
#hr-about {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
.about-text {
    color: #203239;
    font-size: 15px;
}
.about-end {
    color: #203239;
    font-size: 15px;
}
.contact-form {
    font-family: 'Roboto Mono';
    background-color: olivedrab;
}
.contact-header {
    margin-top: 10%;
    font-family: 'Roboto Mono';
    font-size: 75px;
    font-weight: bold;
}
#hr-contact {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: #203239;
}
