.main {
    position: relative;
    font-family: 'Roboto Mono';
    margin: auto;
    width: 100%;
}
.header-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}
header {
    height: 60px;
    width: 100%;
}
.nav {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: #203239;
}
#logo {
    width: 60px;
    height: 60px;
    background-color: #1956ef;
}
.home-page {
    font-family: 'Roboto Mono';
    font-weight: bold;
    height: 100vh;
    min-width: 500px;
    max-width: 960px;
    text-align: left;
    position: inherit;
}
#arrow {
    position: absolute;
    bottom: 15px;
    left: 270px;
    width: 20px;
    height: 20px;
}
.main-photo {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 350px;
    height: 560px;
}
.text {
    margin: 20% 10%;
}
.main-text {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto Mono';
    font-size: 75px;
    font-weight: bold;
    color: #203239;
}
hr {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 90px;
    border-top-width: 5px;
    border-top-color: #203239;
    opacity: 1;
}
.secondary-text {
    position: absolute;
    margin-top: 30px;
    font-family: 'Roboto Mono';
    font-size: 15px;
    color: #1956ef;
}
.third-text {
    position: absolute;
    left: 95px;
    bottom: 0;
    font-family: 'Roboto Mono';
    font-size: 13px;
}
.page {
    position: relative;
    height: 100vh;
    margin: auto;
    min-height: 400px;
    width: 960px;
}
.project-page {
    position: static;
    font-family: 'Roboto Mono';
    font-weight: bold;
    height: 100vh;
    min-width: 500px;
    max-width: 960px;
    text-align: left;
}
.project-content {
    position: static;
    font-family: 'Roboto Mono';
}
.project-header {
    position: relative;
    margin-top: 100px;
    margin-left: 95px;
    font-weight: bold;
    font-size: 75px;
    color: #203239;
}
#hr-project {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 95px;
    width: 90px;
    border-top-width: 5px;
    border-top-color: #203239;
    opacity: 1;
}
.project-inner {
    position: static;
    margin-top: 200px;
    margin-left: 95px;
    color: #1956ef;
    text-align: left;
}
.project-p {
    position: static;
    margin-top: 200px;
    margin-left: 95px;
    color: #203239;
    text-align: left;
}
.project-end {
    position: static;
    bottom: 20px;
    margin-left: 95px;
    color: #203239;
    text-align: left;
    font-size: 1px;
}
#portfolio-photo {
    position: absolute;
    float: right;
    bottom: -600px;
    left: 750px;
    width: 410px;
    height: 320px;
}
.about-page {
    position: relative;
}
.about-content {
    font-family: 'Roboto Mono';
}
.about-header {
    font-family: 'Roboto Mono';
    position: static;
    margin-left: 95px;
    font-size: 75px;
    font-weight: bold;
}
.about-inner {
    position: static;
    margin-left: 95px;
    font-size: 15px;
}
.about-end {
    position: static;
    margin-left: 95px;
    font-size: 15px;
}
.contact-form {
    margin-left: 95px;
}
